{#include main.html}

<img src="https://image.makewebeasy.net/makeweb/m_1920x0/eRzI63X99/SINGLE_HOUSE/S1_img-gallery.png?v=202012190947">

<div class="container text-center mt-5">
<p class="font-thai fw-bold size-20px">บ้านจัดสรรชลบุรี บ้านเดี่ยวสไตล์โมเดิร์น</p>
<span class="font-for-town">The </span>
<span class="font-for-town size-20px fw-bold"> CENTRAL TOWN</span>
 <div class="text-center line mt-4 mb-4"></div>
 <p class="font-thai" style="color: #1a67cb">
 บ้านจัดสรร ชลบุรี บ้านเดี่ยว สไตล์โมเดิร์น สร้างด้วยอิฐมวลเบาเพื่อความแข็งแรงคงทน น้ำหนักเบา พื้นที่โล่งสบายและเป็นส่วนตัว ด้วยพื้นที่ใช้สอย 2 ขนาดให้เลือก 225 ตร.ม และ 205 ตร.ม บรรยากาศภายในบ้านกว้างขวาง สะดวกสบาย
 ตอบโจทย์ทุกไลฟ์สไตล์และรองรับการขยายครอบครัวครบทุกความต้องการด้วยพื้นที่ใช้งาน 3 ห้องนอน, 3 ห้องน้ำ, ห้องนั่งเล่น, ห้องครัว, ห้องรับประทานอาหาร, และสวนส่วนตัว สำหรับการทำกิจกรรมร่วมกับครอบครัวและการพักผ่อนอยู่บ้านของคุณ
</p>
</div>

<div class="container text-center mt-5">
<a type="button"><i class="bi bi-arrow-left-circle-fill"></i></a>
<img src="https://image.makewebeasy.net/makeweb/m_1920x0/eRzI63X99/SINGLE_HOUSE/S2_Slide-2.png?v=202012190947">
<img src="https://image.makewebeasy.net/makeweb/m_1920x0/eRzI63X99/SINGLE_HOUSE/S2_Slide-1.png?v=202012190947">
<a type="button"><i class="bi bi-arrow-right-circle-fill"></i></a>
</div>
