{#include main.html}

<div class="text-center font-for-town">
    <p class="size-60px">The</p>
    <p class="size-80px">CENTRAL TOWN</p>
    <p class="size-40px">chonburi</p>
    <span class="size-20px font-thai">ที่สุดของบ้านใจกลางเมืองชลบุรี</span>
    <span class="font-thai size-20px bg-font-20px">  "แค่คิดก็ถึงแล้ว"  </span>
</div>
<div class="font-thai bg-font-20px size-20px text-center mt-5 p-3 fw-bold">
    <span>บ้านเดี่ยวและทาวน์โฮมกลางเมืองชลบุรี</span>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="col-auto text-center">
            <img src="https://photosrp.dotproperty.co.th/1.0-TH-0-PJ-19020-1438877342630c6bdd49e92-1-348-196/%E0%B8%99%E0%B8%B2%E0%B8%A3%E0%B8%B2%E0%B8%AA%E0%B8%B4%E0%B8%A3%E0%B8%B4-%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%81%E0%B8%A3%E0%B8%B5%E0%B8%91%E0%B8%B2.jpg"
                 height="300px" width="300px">
        </div>
        <div class="col-auto ms-5 font-thai">
            <span class="size-10px"><b>เพียง 30 เมตรจากถนนสุขุมวิท-บ้านสวน ราคาพิเศษ</b></span>
            <p class="size-10px" style="color: #3097b1">เริ่มต้นเพียง 2.9 ล้านบาท</p>
            <ul>
                <li>บ้านเดี่ยวและทาวน์โฮมใจกลางเมืองชลบุรี ทำเลดี เดินทางสะดวก ใกล้สถานที่สำคัญ ด้วยคอนเซปต์
                    "แค่คิดก็ถึงแล้ว"
                </li>
                <li>บ้านจัดสรร สไตล์รีสอร์ท ทำเลกลางเมืองชลบุรี บรรยากาศ สภาพแวดล้อมร่มรื่น สิ่งอำนวยความสะดวกครบครัน
                </li>
                <li>คุ้มค่าการลงทุน สามารถเพิ่มมูลค่าสินทรัพย์ในอนาคต ด้วยทำเลที่ตั้งดีที่สุด</li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-5 font-thai">
    <div class="text-center size-20px">
        <p><b>รับข่าวสาร</b></p>
        <p><b>และโปรโมชั่นสุดพิเศษก่อนใคร</b></p>
    </div>

    <div class="text-center line"></div>

    <div class="text-center size-10px mt-3 default-font-color">
        <span>จาก<b>  The Central Town Chonburi </b></span>
        <p>บ้านจัดสรรกลางเมืองชลบุรี <b> "แค่คิดก็ถึงแล้ว" </b></p>
    </div>
</div>


{!<div class="container font-thai">!}
    {!<form style="color: gray" hx-post="/client/save" hx-target="#alert-container" hx-swap="outerHTML">!}
    {!<div class="mt-1 mb-2">!}
    {!<label for="firstName" class="">ชื่อ</label>!}
    {!<input type="text" id="firstName" name="firstName"!}
           {!class="form-control">!}
    {!</div>!}
    {!<div class="mt-1 mb-2">!}
    {!<label for="lastName">นามสกุล</label>!}
    {!<input type="text" id="lastName" name="lastName" class="form-control">!}
    {!</div>!}
    {!<div class="mt-1 mb-2">!}
    {!<label for="tel" >โทร</label>!}
    {!<input type="text" id="tel" name="tel" class="form-control">!}
    {!</div>!}
    {!<div class="mt-1 mb-2">!}
    {!<label for="email" >อีเมล</label>!}
    {!<input type="text" id="email" name="email" class="form-control">!}
    {!</div>!}
    {!<div class="mt-1 mb-2">!}
    {!<label for="lineId" >Line ID</label>!}
    {!<input type="text" id="lineId" name="lineId" class="form-control">!}
    {!</div>!}
    {!<div class="mt-4 text-center">!}
    {!<button type="submit" class="btn btn-success">ลงทะเบียน</button>!}
    {!</div>!}
    {!</form>!}
{!</div>!}

{!{#form uri:ClientResource.save()}!}
{!!}
    {!<legend>Complete registration</legend>!}
    {!{#formElement name="firstName" label="First Name"}!}
        {!{#input name="firstName"/}!}
    {!{/formElement}!}
    {!{#formElement name="lastName" label="Last Name"}!}
        {!{#input name="lastName"/}!}
    {!{/formElement}!}
    {!<button type="submit" class="btn btn-primary">Complete registration</button>!}
{!!}
{!{/form}!}

<div class="container font-thai">
{#fragment id = "form"}
    <form style="color: gray" hx-post="/save">
        <div class="mt-1 mb-2">
            <label for="firstName" class="ui-require">ชื่อ</label>
            <input name="firstName" type="text" class="form-control {#ifError 'firstName'}is-invalid{/ifError}" value="{inject:flash.get('firstName')}">
            <div class="invalid-feedback">{#error 'firstName'/}</div>
        </div>
        <div class="mt-1 mb-2">
            <label for="lastName">นามสกุล</label>
            <input type="text" id="lastName" name="lastName" class="form-control"  value="{client.lastName ?: null}">
        </div>
        <div class="mt-1 mb-2">
            <label for="tel">โทร</label>
            <input type="text" id="tel" name="tel" class="form-control" value="{client.tel ?: null}">
        </div>
        <div class="mt-1 mb-2">
            <label for="email">อีเมล</label>
            <input type="text" id="email" name="email" class="form-control"  value="{client.email ?: null}">
        </div>
        <div class="mt-1 mb-2">
            <label for="lineId">Line ID</label>
            <input type="text" id="lineId" name="lineId" class="form-control" value="{client.lineId ?: null}">
        </div>
        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-success">ลงทะเบียน</button>
        </div>
    </form>
    {/fragment}
</div>


<div class="container">
    <div id="alert-container" class="mt-4"></div>
</div>

<div id="modals-here"
     class="modal modal-blur fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>

</div>

