
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">เพิ่มนักเรียน</h5>
        </div>
        <form hx-post="/student/add">
            <div class="modal-body">
                <label>ชื่อนักศึกษา</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success"
                        data-bs-dismiss="modal">บันทึก</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
            </div>
        </form>
    </div>
</div>

